<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.andychiu.automation.aranet-imessage-relay</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>{{SCRIPTS_DIR}}/aranet-alert/run_ntfy_imessage_relay.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>30</integer>

    <key>StandardOutPath</key>
    <string>{{HOME}}/.aranet_relay.log</string>
    <key>StandardErrorPath</key>
    <string>{{HOME}}/.aranet_relay.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{PATH}}</string>
        <key>HOME</key>
        <string>{{HOME}}</string>
    </dict>
</dict>
</plist>
